.home-header-logo {
  display: inline;
  float: left;
  margin-left: 40px;
  height: 60px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.hero {
  height: 95vh;
}

.hero:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../assets/images/space.JPG');
  background-position: center;
  background-size: cover;
  filter: contrast(.7);
  width: 100%;
  height: 100%;
}

.title-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  font-size: 80px;
  font-family: "Oswald", "Avenir", san-serif;
  text-align: center;
  animation-delay: 1s;
}

@keyframes fadeInDownCustom {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownCustom {
  animation-name: fadeInDownCustom;
}

.card-container {
  margin-top: -140px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-width: 70em;
  flex-wrap: wrap;
}

.custom-nav {
  position: absolute;
  right: 0;
}

.home-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-content {
  max-width: 550px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 465px) {
  .card-container {
    margin-top: -60px;
  }
}


@media (max-width: 355px) {
  .hero-title {
    font-size: 70px;
  }
}
