---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {{content}}
<!-- 
    <div class="bio-container">
    	<div class="bio">
    		<img class="bio-img" src="../assets/images/girl1.png">
    		<p class="bio-txt">
    			Audrey is a sophomore at the University of Pennsylvania, majoring in Mechanical Engineering and Applied Mechanics. She is the Director of Operations for the Penn Aerospace Club as well as the founder for the Penn chapter of Students for the Exploration and Development of Space (SEDS).
    		</p>
    	</div>
    	<div class="bio">
    		<img class="bio-img" src="../assets/images/girl2.png"/>
    		<p class="bio-txt">
    			Hemani is part of the class of 2019 at Princeton University, majoring in Aerospace Engineering. She is passionate about space exploration and hopes to see humanity become a multi-planetary civilization. In her free time, she enjoys wandering around national parks, getting up to high places, eating chocolate ice cream, and watching strange movies.
    		</p>
    	</div>
    	<div class="bio">
    		<img class="bio-img" src="../assets/images/guy1.png"/>
    		<p class="bio-txt">
    			Jonathan Li is a sophomore mechanical engineering major at Yale University. He is interested in additive manufacturing technology as well as ways of making the aerospace industry more environmentally friendly. Outside of aerospace and engineering, Jonathan enjoys food, playing sports, watching LSU football, and spending time with friends.
    		</p>
    	</div>
    </div>
     -->
  </div>
</article>
